.footer {
  text-align: center;
  


  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #065c4d;
  color: #fff;
  height: 2em;
}

.footer a {
  font-weight: bold;
  color: #076656;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer a img {
  height: 80%;
  transform: translateY(13%);
  padding-right: 10px;
}
.footer a .envelope {
  height: 50%;
  transform: translateY(-5%);
}
